.root {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0px;
}

.list-view .scroll-bar:vertical {
    -fx-padding: 0px;
}

.back {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.shadow {
    -fx-stroke-width: 1;
    -fx-stroke: black;
}

.board-cell {
    -fx-background-color: rgba(0, 0, 0, 0.27);
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.hand-container {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
}

.button {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

.mana-label {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: #000526;
    -fx-font-size: 16;
}

.hp-ap-label {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-text-fill: #fff;
}

.hero-dialog {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
}

.button-accept {
    -fx-background-image: url("file:///home/amin/Desktop/projects/Duelyst/resources/ui/button_confirm@2x.png");
    -fx-padding: 16;
}

.button-accept:pressed {
    -fx-background-image: url("file:///home/amin/Desktop/projects/Duelyst/resources/ui/button_confirm_glow@2x.png");
}

.button-primary {
    -fx-background-image: url("file:///home/amin/Desktop/projects/Duelyst/resources/ui/button_primary@2x.png");
    -fx-padding: 16;
}

.button-primary:pressed {
    -fx-background-image: url("file:///home/amin/Desktop/projects/Duelyst/resources/ui/button_primary_glow@2x.png");
}
