.root{
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.board-cell{
    -fx-background-color: rgba(0, 0, 0, 0.27);
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
